<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights </title>
    <!-- Add your CSS stylesheets and JavaScript files here -->
</head>
<body>
    <body>
        {% block body %}
        {% endblock%}
    </body>
    <footer>
        <section>
            <h2>Contact</h2>
            <p>You can reach me at nogueiralhsp@gmail.com.</p>
        </section>
        <p>&copy; 2023 My Website for CS50. All rights reserved.</p>
    </footer>
</body>
</html>
